body {
    background-color: black;
    color: white;
}

#up-races{
    background-color: blueviolet;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    float: right;
}

table, th, td  {
    border: 1px solid white;
    text-align: center;
    margin: 2rem auto;
    border-collapse: collapse;
}

tr:hover {
    background-color: crimson;
}

.gold{
    background-color: gold;
}

.silver{
    background-color: silver;
}

.bronze {
    background-color: #cd7f32;
}

.ret {
    background-color: red;
}

td:first-child+td {
    text-align: left;
}