body {
    background-color: white;
    color: black;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 1280px;
    display: block;
    background-color: white;
    position: relative;
    z-index: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo {
    width: 500px;
}

.nav-links {
    padding: 28px 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
    font-size: 30px;
}

.nav-links li a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
}

header li a:hover {
    color: crimson;
}

#main-img {
    height: 1280px;
    width: 100%;
    background: url(../Assets/images/index.v1.jpg) ;
    position: absolute;
    top: 0;
    z-index: -1;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
}

#main-content h2 {
    text-align: center;
    border-bottom: 2px solid black;
}

#up-races {
    background-color: white;
    width: 50rem;
    height: 37rem;
    border: 4px solid black;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 25px;
    margin-left: 25px;
}

#track {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin-top: 25px;
        margin-left: 25px;
        width: 50rem;
}

#leader-sec{
    background-color: white;
        width:50rem;
        height: 50rem;
        border: 4px solid black;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin-top: 25px;
        margin-left: 25px;
}

.leader img {
    float: left;
}

#trophy {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin-top: 30px;
        margin-left: 25px;
        width: 50rem;
        height: 50rem;
}

#last-result {
    background-color: white;
    width: 50rem;
    height: 50rem;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 25px;
    margin-left: 25px;
}

.result img {
    float: left;
}

#result{
    display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin-top: 30px;
        margin-left: 25px;
        width: 50rem;
        height: 50rem;
}

#column {
    background-color: darkgoldenrod;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

.rider {
    width: 49%;
    height: 250px;
    display: flex;
    margin-top: 30px;
    padding-top: 20px;
    border: 1px solid black;
    margin-left: 8px;
}

.rider h2 span{
    display: flex;
    justify-content: center;
    align-items: center;
}

#table {
    background-color: dodgerblue;
    height: 1200px;
    position: relative;
}

table, th, td  {
    border: 1px solid black;
    text-align: center;
    margin: 2rem auto;
    border-collapse: collapse;
}

#table-1 {
    position: absolute;
    margin-left: 25px;
    top: 50px;
}

#champ-head{
    position: absolute;
    left: 650px;
}

#table-2 {
    position: absolute;
    right: 50px;
    top: 50px;
}

#anno-head{
    position: absolute;
    right: 90px;
    top: 45px;
}

#table-3 {
    position: absolute;
    margin-left: 250px;
    bottom: 200px;
}

#con-head {
    position: absolute;
    left: 650px;
    bottom: 400px;
}

tr:hover {
    background-color: crimson;
}

.gold{
    background-color: gold;
}

.silver{
    background-color: silver;
}

.bronze {
    background-color: #cd7f32;
}

.ret {
    background-color: red;
}

td:nth-child(2) {
    text-align: left;
}

/*
tr td:nth-child(5), th:nth-child(5) {
    display: none;
}*/

